body {
    font-family: monospace;    
    background-image: url("imagenes/FondoGris.png");
    background-size:100%;
    font-size:xx-large;
    display: flex;
}

.container {
    font-family: monospace; 
    margin: 0 auto;
    text-align: left;
    color: white;
}

.header {
    text-align: left;
    align-items: center;
    display: flex;
    margin-left: 10%;
}

.texto {
    font-weight: bold;
    display: flex;
}

.button-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 10%;
}

.button {
    width: 20rem;
    font-family: monospace; 
    padding: 10px 20px;
    background-color: #0099ff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 0.2rem;
    border-radius: 0.75rem;
    font-size:xx-large;
}
.enlaces{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.button:hover {
    background-color: #004466;
}

.gatoperro{
    width: 750px;
    height: 750px;
    margin-right: 0px;
    margin-top: 200px;
}

.gatoperro1{
    width: 75px;
    height: 75px;
}


.descripcion{
    display: inline;
}
.separador{
    margin:0.5rem;
    display: grid;
    columns: 2;
    background-color:rgb(56, 182, 255) ;
    width: 50rem;
    border-radius: 0.7rem;
}
.titulo{
    display: inline;
}
ul{
    grid-column: 2;
    list-style: none;
}

.imagen{
    opacity: 90%;
    grid-column: 1;
    margin-top: 3rem;
    margin-left: 2rem; 
    border-radius: 30px;
    height: 10rem;
    width: 10rem;
}
.botones-container{
    letter-spacing: 7rem;
}
.empresa{
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 110px;
    padding-left: 10%;
    padding-top: 0%;
}
.empresaI{
    grid-column: 2;
    display: inline;
}

